h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.users {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	font-family: sans-serif;
}

.users > div {
	margin: 0 1rem 2rem 1rem;
	text-align: center;
}

img {
	display: inline-block;
	max-width: 100%;
	margin: 1rem;
}

/* .button {

} */
